.app{
    width: 100%;
    height: 100%;
}
.wraper{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2f5;
}